//
   Created with JetBrains WebStorm.
   User: jhudiel
   Date: 7/2/13
   Time: 3:24 AM
   To change this template use File | Settings | File Templates.

extends layout

block content
    .navbar
        .navbar-inner

            ul.nav
                li.active
                    a(href="/admin/dashboard/movie") EazyPass / Create new movie
            ul.nav.pull-right

    #wrap.ep-container
        .container
            #notif.alert.alert-success
                p Movie entry created!
            .progress
                .bar
            form(style="margin: 0; padding: 0").form-horizontal
                fieldset
                    .control-group
                        label.control-label(for='ep-name') Name
                        .controls
                            input#ep-name.input-xlarge(type='text', name="name")
                    .control-group
                        label.control-label(for='ep-date') Theatre Date
                        .controls
                            input#ep-date.input-xlarge(type='text', name="date")
                    .control-group
                        label.control-label(for='ep-poster') Poster
                        .controls
                            input#ep-poster.input-xlarge(type='text', name="poster")
                            span.help-block (URL of the poster)
                    .control-group
                        label.control-label(for='ep-trailer') Trailer
                        .controls
                            input#ep-trailer.input-xlarge(type='text', name="trailer")
                            span.help-block (URL of the trailer)
                    .control-group
                        label.control-label(for='ep-director') Director
                        .controls
                            input#ep-director.input-xlarge(type='text', name="director")
                    .control-group
                        label.control-label(for='ep-cast') Cast
                        .controls
                            input#ep-cast.input-xlarge(type='text', name="cast")
                            span.help-block (Separate with commas)
                    .control-group
                        label.control-label(for='ep-genre') Genre
                        .controls
                            input#ep-genre.input-xlarge(type='text', name="genre")
                            span.help-block (Separate with commas)
                    .control-group
                        label.control-label(for='ep-synopsis') Synopsis
                        .controls
                            textarea#ep-synopsis.input-xlarge(name="synopsis", style="height: 150px")
                    .control-group
                        label.control-label(for='gallery') Gallery images
                        .controls
                            input#gallery.input-xlarge.gallery(type='text', name="gallery[]")
                    .control-group
                        .controls
                            input#gallery.input-xlarge.gallery(type='text', name="gallery[]")
                    .control-group
                        .controls
                            input#gallery.input-xlarge.gallery(type='text', name="gallery[]")
                    .control-group
                        .controls
                            input#gallery.input-xlarge.gallery(type='text', name="gallery[]")
                    .control-group
                        .controls
                            input#createMovie.btn.btn-success(type='submit', value="Create")


        #push

        script(src='/static/js/submit.js')