extends layout

block content
    #wrap.ep-container
        .container
            form.form-horizontal
                fieldset
                    legend Login
                    .control-group
                        label.control-label(for='input01') Username
                        .controls
                            input#input01.input-xlarge(type='text')
                    .control-group
                        label.control-label(for='input02') Password
                        .controls
                            input#input02.input-xlarge(type='password')
                    .control-group
                        .controls
                            input.btn.btn-success(type='submit')


        #push
