doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/static/stylesheets/metro-bootstrap.css')

    link(rel='stylesheet', href='/static/stylesheets/eazy-pass.css')
    script(src='/static/js/bootstrap.js')
  body
    block content


    #footer
      .container
        p.muted.credit Courtesy of PIT-Term 6 Students